  <!-- Add classes to use sizing properties to make this <div> the full height of viewport, apply a dark background, use flex properties to center align content on the page -->
  <div class="min-vh-100 d-flex align-items-center bg-light">

    <!-- Add classes to use sizing properties to make this row run the full width of the page and use flex properties to center justify content -->
    <section class="w-100 row justify-content-center">

      <div class="col-10 col-md-6 col-lg-5">

        <!-- Add classes to center this text and make it white -->
        <h1 class="display-3 text-center text-black">Welcome to Mealy!</h1>

        <!-- Add classes to apply a white background, rounded corners, padding, and margin on the y-axis (top and bottom) -->
        <form class="bg-white my-4 p-4 rounded login-form">
          <h3>Hey whats Mealy-o! Login and start meal prepping!</h3>
          <div class="form-group py-2">
            <label for="username">Username</label>
            <input type="text" id="email-login" class="form-control" placeholder="Username" required />
          </div>


          <div class="form-group py-2">
            <label for="password">Password</label>
            <input type="text" id="password-login" class="form-control" placeholder="Password" required />
          </div>




          <button class="btn btn-block btn-primary w-100" type="submit">Login!</button>


          <div class="form-group py-2" >
            <p class="form-group py-2 orClass">                _____________________________ or _____________________________ </p>
            <button class="btn btn-block btn-primary w-100"><a href="/register">REGISTER HERE!</a></button>
          </div>
        </form>
      </div>
    </section>

  </div>

<script src="./js/login.js"></script>