<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekly Planner</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>

<h2>Week 1</h2>

<table style="width:100%">
  <tr>
    <td aria-invalid="meal" >Meal</td>
    <td id="sunday">Sunday</td>
    <td id="monday">Monday</td>
    <td id="tuesday">Tuesday</td>
    <td id="wednesday">Wednesday</td>
    <td id="thursday">Thursday</td>
    <td id="friday">Friday</td>
    <td id="saturday">Saturday</td>
  </tr>
  <tr>
    <td id="breakfast">Breakfast</td>
    <td id="sunday-breakfast"></td>
    <td id="monday-breakfast"></td>
    <td id="tuesday-breakfast"></td>
    <td id="wednessday-breakfast"></td>
    <td id="thursday-breakfast"></td>
    <td id="friday-breakfast"></td>
    <td id="saturday-breakfast"></td>

  </tr>
   <tr>
    <td id="lunch">Lunch</td>
    <td id="sunday-lunch"></td>
    <td id="monday-lunch"></td>
    <td id="tuesday-lunch"></td>
    <td id="wednesday-lunch"></td>
    <td id="thursday-lunch"></td>
    <td id="friday-lunch"></td>
    <td id="saturday-lunch"></td>
  </tr>
   <tr>
    <td id="dinner">Dinner</td>
    <td id="sunday-dinner"></td>
    <td id="monday-dinner"></td>
    <td id="tuesday-dinner"></td>
    <td id="wednesday-dinner"></td>
    <td id="thursday-dinner"></td>
    <td id="friday-dinner"></td>
    <td id="saturday-dinner"></td>
  </tr>

</table>

</body>